* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Druk';
  src: url('/font/druk-medium.otf');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk';
  src: url('/font/druk-bold.otf');
  font-weight: bold;
  font-display: swap;
}

:root {
  --white: #FFFFFF;
  --dark-gray-default: #1F2326;
  --black-opacity-default: rgba(31, 35, 38, 0.75);
  --red-default: #FF4656;
  --silver-default: #C4C4C4;

  --red-buttons: #ff4854;
  --dark-blue-bg1: #0f1923;
  --dark-blue-bg1-opacity: rgba(15, 25, 35,0.9);
  --black: #111111;
  --cream-text: #ece8e1;
  --dark-blue-nav: #27272f;
  --dark-gray-bg2: #32333c;
  --red-detail: #ff4855;
  --gray-text: #939397;
  --medium-gray: #292929;

}

body {
  background: var(--dark-blue-bg1);
  
  color: var(--cream-text);
  font: 400 1rem "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;
  background-color: var(--red-buttons);
  color: var(--white);
  font: 400 1rem "Montserrat", sans-serif;
  border-radius: 7px;
  padding: 10px 10px 10px 10px;

  &:hover {
    cursor: pointer;
  }
}
