.container {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    min-height: 100vh;
    background-image: url('/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    header {
        width: 100%;
        background-color: var(--dark-blue-nav);
        padding: 32px;
        
        .header__content {
            width: 100%;
            max-width: 1366px;
            margin: 0 auto; /* fica no meio */
            display: flex;
            align-items: center;
            column-gap: 32px;
            color: var(--white);
            
            > span {
                /* > significa primeiro span */
                width: 2px;
                height: 40px;
                background-color: var(--white);
            }
            
            nav {
                display: flex;
                align-items: center;
                column-gap: 40px;
                
                margin-left: 20px;
                
                a {
                    font-size: 14px;
                    font-weight: bold;
                    letter-spacing: 0.3px;
                }
            }
            
            > div {
                display: flex;
                align-items: center;
                column-gap: 12px;

                margin-left: auto;
                
                picture {
                    position: relative;
                    width: 48px;
                    height: 48px;
                    border-radius: 48px;
                    overflow: hidden;
                    
                    img {
                        object-fit: cover;
                        
                    }
                }

                strong {
                    font-size: 12px;
                }

                svg {
                    transform: rotate(180deg);
                }
            }
            
        }
    }
    
    main {
        flex: 1;
        // background-color: pink;
        width: 100%;
        max-width: 1366px;
        margin: 0 auto; /* fica no meio */
    }
}